jupyterlab
numpy
pandas
scikit-learn
scipy
seaborn
sympy
tensorboard
tqdm
python-json-logger==2.0.6
pytorch-lightning==1.6.0
tensorflow==2.2.0
tensorflow-estimator==2.2.0
tensorflow-gpu==2.2.0
tokenizers==0.13.2
torch==1.9.1+cu111
torchaudio==0.9.1
torchmetrics==1.0.3
torchsummary==1.5.1
torchvision==0.10.1+cu111
huggingface-hub==0.12.0
transformers>=4.26.1